package main

import (
    "context"
    "fmt"
    "github.com/aws/aws-lambda-go/lambda"
)

func {{handlerName}}(ctx context.Context) (string, error) {
    return fmt.Sprintf("Hello from Lambda!")
}

func main() {
    lambda.Start({{handlerName}})
}
